ADZUNA_APP_ID=3b6e23ea
ADZUNA_APP_KEY=8efe8662a0c8ca21b9459e806ac79325
SUPABASE_URL=https://piqbhrtxvjfkxzhrqlus.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpcWJocnR4dmpma3h6aHJxbHVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MTM0OTUsImV4cCI6MjA5NzA4OTQ5NX0._99IS_kEocKDpfIrW3Bzs-wePL5DTyH1fhSYMnBLers